* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive;
}

header {
    background-image: url(../images/banner-loja\ \(2\).png);
    min-height: 450px;
    padding: 30px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo {
    position: relative;
    background-image: url(../images/logo.png);
    z-index: 2;
    background-size: 100% 100%;
    width: 100px;
    height: 70px;
    float: left;
    right: 120px;
}

.menu-desktop {
    float: right;
}

.menu-desktop ul {
    list-style: none;
}

.menu-desktop li {
    display: inline-block;
    margin: 0 15px;
}

nav.menu-desktop a {
    color: rgb(15, 13, 13);
    text-decoration: none;
    font-size: 15px;
}

.menu-mobile {
    float: right;
    display: none;
}

.menu-mobile ul{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    padding: 70px 0 30px 0;
    display: none;
    text-align: center;
    background-color: rgb(250, 146, 0);

}

.menu-mobile i{
    position: relative;
    z-index: 2;
}

.menu-mobile a{
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 21px;

}    

.chamada {
    padding: 100px 0;
}

.titulo-header{
    padding-left: 50px;
    padding-bottom: 100px;
}

.texto-header{
    padding-bottom: 80px;
    padding-right: 100px;
    font-family: fantasy;
}

.chamada h2 {
    color: rgb(0, 0, 0);
    font-size: 45px;
}

.chamada p {
    color: rgb(0, 0, 0);
    font-size: 17px;
    max-width: 600px;
}

.chamada form {
    margin-top: 15px;
}

.chamada input[type="email"]:focus{outline: 0;}

.chamada input[type="email"]{
    width: 300px;
    height: 41px;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
    border: 0;
    padding-left: 10px;
    font-size: 15px;
}

.chamada input[type="submit"]{
    width: 180px;
    height: 41px;
    border-radius: 100px;
    background-color: rgb(250, 146, 0);
    color: white;
    cursor: pointer;
    border: 0;
    font-size: 15px;
}

.descricao {
    text-align: center;
    font-size: 25px;
    padding: 30px 0;
}

.negrito{
    color: #952121; 
}

.descricao p {
    color: rgb(250, 146, 0); 
    font-style: italic;
}

.texto-descricao {
    padding: 0 15px;
    float: left;
    width: 50%;
}

.texto-descricao p{
    color: rgb(250, 146, 0);
}

.texto-descricao h3{
    color: #952121;
    font-size: 25px;
    line-height: 33px;
    margin-top: 25px;
}

.texto-descricao p {
    margin-top: 5px;
    font-size: 18px;
}

.descricao2 img {
    width: 40%;
    float: left;
    padding: 20px;
    border-radius: 100%;
}

.descricao3 .container {
    background-image: url('../images/Promoção.gif');
    background-size: cover;
    position: relative;
    min-height: 350px;
}

.clear {
    clear: both;
}

.depoimento {
    position: absolute;
    background-color: #fff;
    left: 60%;
    bottom: -30px;
    max-width: 507px;
    padding: 40px;
    box-shadow: 0 8px 20px 0 rgba(250, 0, 0, 0.8);
}

.depoimento b{

    font-size: 19px;
    color: rgba(250, 0, 0, 0.722);
}

.titulo-servicos{
    text-align: center;
}
.servicos{
    margin-top: 60px;
}

.combo-produtos{
    display: flex;
    flex-wrap: wrap;
}

.espaco-produtos{
   padding: 10px;
    display: flex;
    width: 33%;
}

.espaco-produtos p{

    margin: 9px 0;
}

.espaco-produtos a{
    display: inline-block;
    border: 1px solid gray;
    color: #ffffff;
    background-color: #952121;
    font-size: 19px;
    text-decoration: none;
    padding: 6px 13px;
    border-radius: 30px;
}

.box-produtos{
    border-radius: 3px;
    height: 100%;
    box-shadow: 0 8px 15px 0 rgba(250, 146, 0, 0.8);
    padding: 10px;
}

.formulario{
    padding: 30px 0;
}

.formulario h2{
    text-align: center;
}

.formulario form{
    margin-top: 10px;
}

.formulario input[type=text]{

    width: 100%;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    
}

.botao-enviar{

    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(250, 146, 0, 0.8);
    border-style: none;
    color: #fff;

}


.formulario textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}    

footer{
    margin: 50px 0;
    border-top: 1px solid gray;
}

.box-footer{
    margin: 20px 0;
    float: left;
    width: 33%;
    padding: 0 15px;
}

.box-footer p{
    margin-top: 15px;
    font-size: 21px;

}

.box-footer input[type="text"]{

    width: 80%;
    padding-left: 10px;
    max-width: 190px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid gray;
}

.box-footer button{
    margin-left: 10px;
    max-width: 60px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #fff;
    width: 70px;
}

/* ABAIXO CÓDIGO DE RESPONSIVIDADE */
/*definindo medidas para desktop e tablet*/
@media screen and (max-width: 1024px) {

    .depoimento{
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        padding: 30px;
        width: 90%;
        transform: translate(-50%,-50%);
    }

    .espaco-produtos{
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
        padding: 10px;
    }

    .box-footer{
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }



    .chamada input[type="email"]{
        margin-bottom: 10px;
    }

    .chamada {
        text-align: center;
    }

    
}
/*definindo medidas para celulares*/
@media screen and (max-width: 768px) {

    .texto-descricao{

        width: 100%;
        display: block;
        float: none;
    }

    .descricao2 img{

        width: 100%;
        display: block;
        margin: 0 auto;
        float: none;
        margin-top: 10px;
        max-width: 500px;
    }
}